Repository s1ches/RPS, pull requests merged in 2025-02, with the labels that each got.

#1 Инициализация проекта по Frontend
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: enhancement

#5 Добавил сервис Accounts
  backend/RPS.Common/Domain/Abstractions/AuditableEntityBase.cs
  backend/RPS.Common/Exceptions/InfrastructureExceptionBase.cs
  backend/RPS.Common/Masstransit/Constansts/RabbitMqConstants.cs
  backend/RPS.Common/Masstransit/Events/RegistrationEvent.cs
  backend/RPS.Common/MediatR/Mediatr.cs
  backend/RPS.Common/MediatR/ModelsAbstractions/IPipelineItem.cs
  backend/RPS.Common/Options/CorsOptions.cs
  backend/RPS.Common/Options/RabbitMqOptions.cs
  backend/RPS.Services.Accounts/Configuration/MongoDbConfiguration.cs
  backend/RPS.Services.Accounts/Controllers/UserController.cs
  backend/RPS.Services.Accounts/Data/MongoDbService/IMongoDbService.cs
  backend/RPS.Services.Accounts/Data/MongoDbService/MongoDbService.cs
  backend/RPS.Services.Accounts/Domain/Entities/UserInfo.cs
  backend/RPS.Services.Accounts/Features/User/Queries/GetUserQuery/GetUserQuery.cs
  backend/RPS.Services.Accounts/Features/User/Queries/GetUserQuery/GetUserQueryHandler.cs
  backend/RPS.Services.Accounts/Features/User/Queries/GetUserQuery/GetUserQueryValidator.cs
  backend/RPS.Services.Accounts/Masstransit/Consumers/RegistrationConsumer.cs
  backend/RPS.Services.Accounts/Options/MongoDbOptions.cs
  backend/RPS.Services.Accounts/Program.cs
  backend/RPS.Services.Accounts/Properties/launchSettings.json
  backend/RPS.Services.Accounts/RPS.Services.Accounts.csproj
  backend/RPS.Services.Accounts/Requests/User/GetUser/GetUserResponse.cs
  backend/RPS.Services.Accounts/appsettings.json
  backend/RPS.Services.Auth/Controllers/AuthController.cs
  backend/RPS.Services.Auth/Data/AuthDbContext.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/LoginCommand/LoginCommand.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/LoginCommand/LoginCommandHandler.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/LoginCommand/LoginCommandValidator.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/RegisterCommand/RegisterCommand.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/RegisterCommand/RegisterCommandHandler.cs
  backend/RPS.Services.Auth/Features/Auth/Commands/RegisterCommand/RegisterCommandValidator.cs
  backend/RPS.Services.Auth/Program.cs
  backend/RPS.Services.Auth/RPS.Services.Auth.csproj
  backend/RPS.Services.Auth/Services/RegistrationEventSender/IRegistrationEventSender.cs
  backend/RPS.Services.Auth/Services/RegistrationEventSender/RegistrationEventSender.cs
  backend/RPS.Services.Auth/appsettings.json
  backend/RPS.Services.Game/Program.cs
  backend/RPS.Services.Game/Properties/launchSettings.json
  backend/RPS.Services.Game/RPS.Services.Game.csproj
  backend/RPS.Workers.RoomsCleaner/Properties/launchSettings.json
  backend/RPS.sln
  backend/docker-compose.yaml
Labels: enhancement, backend

#6 Добавил сервис Accounts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/Game/GameComponent/GameComponent.jsx
  frontend/src/components/Game/Rating.jsx
  frontend/src/components/Game/RockPaperScissors.jsx
  frontend/src/components/Room/RoomCard/RoomCard.jsx
  frontend/src/components/Room/RoomList/RoomList.jsx
  frontend/src/components/Room/RoomList/styles/RoomList.css
  frontend/src/models/Game.js
  frontend/src/models/Room.js
  frontend/src/models/Round.js
  frontend/src/pages/Home/HomePage.jsx
  frontend/src/pages/Room/RoomPage.jsx
  frontend/src/services/api.js
  frontend/src/services/auth.js
  frontend/src/services/index.js
  frontend/src/services/users.js
Labels: enhancement, frontend

#8 Добавление сервиса Game
  backend/RPS.Services.Game/Features/Game/Commands/JoinGameCommand/JoinGameCommandHandler.cs
  backend/RPS.Services.Game/Hubs/Room/Models/KnowWinnerModel.cs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Game/GameComponent/GameComponent.jsx
  frontend/src/components/Game/GameComponent/styles/GameComponent.css
  frontend/src/components/Room/RoomCard/RoomCard.jsx
  frontend/src/components/Room/RoomCard/styles/RoomCard.css
  frontend/src/components/Room/RoomList/RoomList.jsx
  frontend/src/components/Room/RoomList/styles/RoomList.css
  frontend/src/components/Shared/Navbar/Navbar.jsx
  frontend/src/components/Shared/Navbar/styles/Navbar.css
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/models/Game.js
  frontend/src/models/Room.js
  frontend/src/models/Round.js
  frontend/src/models/Shared/gameStatus.js
  frontend/src/models/Shared/playerChoice.js
  frontend/src/models/Shared/roomStatus.js
  frontend/src/pages/Home/HomePage.jsx
  frontend/src/pages/Home/styles/HomePage.css
  frontend/src/pages/Room/RoomPage.jsx
  frontend/src/pages/Room/styles/RoomPage.css
  frontend/src/services/index.js
  frontend/src/services/room.js
  frontend/src/services/round.js
  frontend/src/services/signalR.js
  frontend/src/services/users.js
  frontend/src/stores/gameStore.jsx
  frontend/src/stores/roomStore.jsx
Labels: enhancement, frontend
